// New

.new {
  &__container {
    padding-top: 1rem;
  }

  &__img {
    width: 120px;
    margin-bottom: var(--mb-0-5);
    transition: .3s;
  }

  &__content {
    position: relative;
    width: 242px;
    padding: 2rem 0 1.5rem;
    border-radius: .75rem;
    background: var(--container-color);
    text-align: center;
    overflow: hidden;

    &:hover {
      .new__img {
        transform: translateY(-.5rem);
      }

      .new__btn {
        right: 0;
      }
    }
  }

  &__tag {
    padding: .25rem .5rem;
    border-radius: .25rem;

    font-size: var(--small-font);
    color: var(--title-color) var(--primary-color);

    @include position (absolute, $t: 8%, $l: 8%);
  }

  &__title {
    font-weight: var(--font-medium);
    font-size: var(--normal-font);
  }

  &__subtitle {
    display: block;
    margin-bottom: var(--mb-0-5);
    font-size: vae(--small-font);
  }

  &__prices {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
  }

  &__price {
    font-weight: var(--font-medium);
    color: var(--title-color);
  }

  &__discount {
    text-decoration: line-through;
    font-weight: var(--font-medium);
    font-size: var(--smaller-font);
    color: var(--primary-color);
  }

  &__btn {
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem .25rem .75rem .25rem;

    @include position (absolute, $b: 0, $r: -3rem);
  }
}