// Newsletter

.newsletter {
  &__description {
    margin-bottom: var(--mb-1-5);
    text-align: center;
  }

  &__form {
    padding: 1rem;
    border-radius: .75rem;
    background: var(--container-color);

    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 70%;
    padding: 0 .5rem;
    background: none;

    font-size: var(--small-font);
    color: var(--title-color);

    @include placeholder {
      color: var(--title-color);
      opacity: 1;
    }
  }
}



// Newsletter Media

@include min-width ('medium', $media-type: screen) {
  .newsletter {
    &__container {
      display: grid;
      grid-template-columns: .7fr;
      justify-content: center;
    }

    &__description {
      padding: 0 3rem;
    }
  }
}

@include min-width ('laptop', $media-type: screen) {
  .newsletter {
    &__container {
      grid-template-columns: .5fr;
    }
  }
}