<!-- Header -->

<header class="header" id="header">
  <nav class="nav container">
    <a href="#" class="nav__logo">
      <img src="@img/logo.png" alt="" class="nav__logo__img">
      Halloween
    </a>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link nav__link--active">home</a>
        </li>

        <li class="nav__item">
          <a href="#about" class="nav__link">about</a>
        </li>

        <li class="nav__item">
          <a href="#trick" class="nav__link">candy</a>
        </li>

        <li class="nav__item">
          <a href="#new" class="nav__link">new</a>
        </li>

        <a href="#" class="btn btn--ghost">Support</a>
      </ul>

      <div class="nav__close" id="nav-close">
        <i class="bx bx-x"></i>
      </div>

      <img src="@img/nav-img.png" alt="" class="nav__img">
    </div>

    <div class="nav__open" id="nav-open">
      <i class="bx bx-grid-alt"></i>
    </div>
  </nav>
</header>